#root {
  height: 100%;
}

:root {
  --theme-color: #2e2e33;
  --light-black: #3A3C41;
}

html {
  height: 100%;
}

body {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: white;
  background-image: url('./bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: var(--theme-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-bg {
  background-image: url('./gradient-bg.png');
  background-size: cover;
  height: 100%;
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.logo {
  margin-top: 60px;
  margin-bottom: 160px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: lowercase;
}

.login-logo {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: lowercase;
}

.title {
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  color: inherit;
  text-decoration: none;
}

.fluid {
  width: 100%;
}

input, textarea {
  outline: none;
  border: none;
  padding: 10px;
  background-color: #3A3C41;
  box-shadow: 0 2px 13px rgba(0, 0, 0, .4);
  color: white;
  font-family: 'Nunito', sans-serif;
  margin-top: 2px;
  border-radius: 10px;
}

input {
  height: 2em;
}

input:focus, textarea:focus {
  outline: none;
}

.box-link {
  line-height: 53px;
  outline: none;
  margin: 24px 20px;
  display: block;
  border: none;
  text-align: center;
  background-color: #7914D1;
  border-radius: 30px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, .4);
  font-family: 'Nunito', sans-serif;
}

.cancel {
  background-color: #D11414;
}

button {
  color: white;
  background: none;
  border: none;
  width: 100%;

  background-color: #7914D1;
  line-height: 53px;

  cursor: pointer;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, .4);
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.button-wrapper {
  margin: 24px 20px;
}

.member {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  outline: 1px solid #555;
  margin: 3px 0;
  display: block;
  background: none;
  border: none;
  text-align: center;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 53px;
  background-color: #26272A;
  margin-left: -15px;
  margin-right: -15px;
}

.desc-box {
  height: 5em;
  resize: none;
}

.row {
  /* display: block; */
  margin-right: -8px;
  margin-left: -8px;
}
.col-6 {
  padding-left: 8px;
  padding-right: 8px;
}
.room{
  position: relative;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: var(--light-black);
  margin-bottom: 16px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, .4);
}

.disabled {
  color: #aaa;
}

.login-form {
  margin: 0 20px;
}
