html {
  height: 100%;
}

body {
  /* background-color: black; */
  height: 100%;
}

video {

  /* height: 50%;
  transform: translate(-15%);
  /* margin: auto; */
  /* width: 80%; */
  display: block;

  width:100vw;
  max-height: 50%;
  /* margin-left:3vw */

}
